.header_logo_1{
 

}
.top_pohto_area{
 
}
.image_header_top_1{
width: 90%;
margin-left: 60px;
}

.top_catch{
  position   : absolute;                   
  box-sizing : border-box;
  white-space: nowrap;                     
  display    : block;                      
  width      : 10%;                       
  color      : rgba(64, 64, 255, 0.80);    
  
  top        : 10px;  
  right:10% ;                      
  text-align : center;                     
  transform  : translateY(10%);    
  padding:10px;                       
  font-size:  5vw;                  
  font-weight:bold;                       
  line-height: 1em;  
  writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	-webkit-writing-mode:vertical-rl;	



}

table {
  margin-top: 20px ;
  margin-left: auto;
  margin-right: auto;
 
  
}  

table th{
  margin-top: 70px;
  padding: 20px 20px; 
  white-space: nowrap;
  color:black"
}  

p#news_title{
  margin: 0% 20px;
  text-align:center;
  font-weight:bold;
  font-size: 6vmax;
  border-bottom: 2px solid #666666;

}






.news_list{
  
  text-align: center;
  

}


h1 {
  padding: 0.9em;
  color: #333;
  background: #dae5f3;
  border-bottom: solid 3px #455586;
  margin-left: 10px;
  
}

h2 {
  padding: 0.6em;
  color: #333;
  background: #dae5f3;
  border-bottom: solid 3px #455586;
  margin: 0% 30px;
}

h3{
  padding: 0.3em;
  color: #333;
  background: #dae5f3;
  border-bottom: solid 3px #455586;
  margin: 0% 30px;
}

a {
  color:black;
    text-decoration: none;
}


.body_poto1_area {
position: relative;  
}         




.body_pohto1{
  height: 40vw; 
  width: 60vw;
  position:absolute;
	right:0px;
	

}

.body_poto1_area p{
  position: absolute;
  top: 120px;
  left: 15vw;

}

.body_poto1_area{
  width: 100%;

}

.body_poto_top_tt{
  
  font-size: 2vw;
  font-weight: 800;
} 
.body_poto_top_ct {
  font-size: 1vw;
  font-weight: 800;
  
  width: 50%; /* 幅は親要素の80% */
 
  margin-top: 15%;

}     
 
                     


.body_pt1_ct_back_tt{
  font-size: 10vw;
  font-weight: 800;
  opacity: 0.1;
        
}

.footer{
 
  bottom: 0;
 
}
.フッターロゴエリア{
  padding: 0 40px;
}
.フッターロゴ{
  width: 75%;
  margin-bottom: 10px;

}

.フッターアドレス {
  margin-bottom: 40px;
  font-size: 1.2rem;
}
.コピーライト {
  font-family: 'Overpass', sans-serif;
  font-weight: 600;
  padding: 0 40px 18px;
  letter-spacing: 0.01em;
  font-size: 1.0rem;
}
